{% extends "base.html" %}
{% block title %}
  Страница пользователя {{ profile_user.username }}
{% endblock %}
{% block content %}
  <h1 class="mb-5 text-center ">Страница пользователя {{ profile_user.username }}</h1>
  <small>
    <ul class="list-group list-group-horizontal justify-content-center mb-3">
      <li class="list-group-item text-muted">Имя: {{ profile_user.first_name|default:"Не указано" }}</li>
      <li class="list-group-item text-muted">Фамилия: {{ profile_user.last_name|default:"Не указано" }}</li>
      <li class="list-group-item text-muted">Регистрация: {{ profile_user.date_joined|date:"d.m.Y H:i" }}</li>
      <li class="list-group-item text-muted">Роль: {% if profile_user.is_staff %}Админ{% else %}Пользователь{% endif %}</li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-center">
      {% if user.is_authenticated and request.user == profile_user %}
      <a class="btn btn-sm text-muted" href="{% url 'users:edit_profile' username=profile_user.username %}">
        Редактировать профиль
      </a>
      <a class="btn btn-sm text-muted" href="{% url 'password_change' %}">Изменить пароль</a>
      {% endif %}
    </ul>
  </small>
  <br>
  <h3 class="mb-5 text-center">Публикации пользователя</h3>
  
  {% if page_obj %}
    {% for post in page_obj %}
      <article class="mb-5">
        {% include "includes/post_card.html" %}
      </article>
    {% endfor %}
    {% include "includes/paginator.html" %}
  {% else %}
    <p class="text-center text-muted">Публикаций пока нет.</p>
  {% endif %}
{% endblock %}
